{% extends 'base.html' %}
<!-- Title Section -->
{% block title %}Food Me - Add Your Favorite Restaurant{% endblock title %}
<!-- Content Section -->
{% block content %} {% include 'nav_bar.html' %}
<form action="" method="post">
{%csrf_token%}
{{AddRestaurant}}
<!-- {% for tag in tags %}

<p>
    <label for={{tag.id}}>
      <input type="checkbox" name={{tag.id}} id={{tag.id}} />
      <span>{{tag.tag_name}}</span>
    </label>
  </p>
{% endfor %} -->

<input type="submit" value="Add Restaurant" name="add">
</form>
 {% endblock content %}
