{% extends 'base.html' %}
<!-- Title Section -->
{% block title %}Food Me - {{restaurant.name}}{% endblock title %}
<!-- Content Section -->
{% block content %}
<div class="card mt-4" style="width: 95%; margin-left: 2.5%">
    {% load static %}
    <img src="{% static '/absinthe.jpeg' %}" class="card-img-top" style="" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{restaurant.name|title}}</h5>
      <p class="card-text">{{restaurant.street_address|title}} {{restaurant.city|title}}, {{restaurant.state|upper}} {{restaurant.zip}}
      </p>
      <p class="card-text">Absinthe Brasserie & Bar is located in San Francisco's vibrant and charming Hayes Valley neighborhood, and is among the city’s beloved longest-running dining institutions. It features a creative menu of French brasserie fare, along with an inspired selection of classic cocktails. With lively, informal décor that evokes turn-of-the-century France, Absinthe’s warm, convivial atmosphere has romanced locals and visitors alike since its founding in 1998.</p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Review
      </button>
    </div>
  </div>

{% include "review.html"%}

{% endblock content %}
