{% extends 'base.html' %}
<!-- Title Section -->
{% block title %}Food Me - Find Your Favorite Food{% endblock title %}

<!-- Content Section -->
{% block content %}

<h1>Search for a restaurant</h1>
<form action="{% url 'search' %}" method="get">
  {% csrf_token %}
  <input name="q" type="text" placeholder="Search..." />
</form>

{% for restaurant in restaurants %}

<div class="card bg-light" style="width: 20rem">
  <div class="card-header bg-info">
    <div class="row">
      <h5 class="col-9">{{ restaurant.name|capfirst }}</h5>
      <span class="col">{{restaurant.avg_rating}}</span>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ restaurant.street_address}}</p>
    <p class="card-text">
      {{ restaurant.city|capfirst}}, {{ restaurant.state|upper}}
      {{restaurant.zip}}
    </p>
    <p class="card-text">{{ restaurant.phone}}</p>
    <a href="{% url 'restaurant' restaurant.id %}" class="btn btn-primary"
      >More Info</a
    >
  </div>
</div>
{% endfor %} {% endblock content %}
