{% extends 'base.html' %}
<!-- Title Section -->
{% block title %}Food Me - Find Your Favorite Food{% endblock title %}

<!-- Content Section -->
{% block content %} {% include 'nav_bar.html' %}
<header
  class="w3-container w3-green w3-cell w3-center w3-cell-middle"
  style="width: 100vw; height: 20vh"
>
  <h1 style="font-size: 5rem">Search</h1>
  <h3>through your restaurants</h3>
</header>

<form action="{% url 'search' %}" method="get" class="w3-margin-top">
    <div
      class="w3-cell w3-center w3-cell-middle"
      style="width: 100vw; font-size:1.5rem;"
    >
    {% csrf_token %}
    <input
      name="q"
      type="text"
      placeholder="Search..."
      class="w3-input w3-hover-light-grey w3-animate-opacity w3-center w3-border w3-round"
    />
  </div>
</form>

{% comment %} CARD WRAPPER {% endcomment %}
<div 
class="w3-margin-top w3-margin-bottom"
style="display:flex; flex-direction:column; justify-content:center; align-items:center"
>

  {% for restaurant in restaurants %}
  {% comment %} CARDS {% endcomment %}
  <div class="w3-card-4 w3-round w3-margin-top" style="width:30vw">
    <header 
    class="w3-display-container w3-green" 
    style="height:100px;">
      <h2 
      class="w3-display-middle">{{ restaurant.name|capfirst}}</h2>
      <p 
      class="w3-display-right w3-margin-right" 
      title="Average Rating of Restaurant">
      {{restaurant.avg_rating}}</p>
</header>

<div class="w3-container w3-center">
  <p class="card-text">{{ restaurant.street_address|upper}}</p>
 
      <p class="card-text">
        {{ restaurant.city|upper}}, {{ restaurant.state|upper}}  {{restaurant.zip}}
      </p>
      <p class="card-text">{{ restaurant.phone}}</p>
</div>


<a href="{% url 'restaurant' restaurant.id %}" class="w3-button w3-green w3-large w3-block"
        >More Info</a
      >


</div>
{% endfor %} {% endblock content %}
</div>
</div>
